::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: none;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("src/assets/images/pokeball_background.jpg");
  font-family: "Courier New", Courier, monospace;
  overflow-y: auto;
}

.header-style {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.card-style {
  height: 60%;
  width: 75%;
}

.test-style.mdc-card {
  display: contents !important;
}

.pokedex-container {
  width: 500px;
  height: 600px;
  background-color: #4a5d23;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokedex-header {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background: black;
  color: white;
  padding: 10px;
}

.pokemon-list {
  display: flex;
  overflow-y: auto;
  height: 100%;
  background: white;
}

.pokemon-list mat-list-item {
  cursor: pointer;
  padding: 5px;
}

.pokemon-list mat-list-item:hover {
  background: #c5e1a5;
}

.pokemon-box {
  padding: 20px;
  border: 2px solid #4caf50;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.right-section {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes full height */
}

.search-container {
  position: sticky;
  top: 0;
  background: white; /* Ensure background is visible */
  padding: 10px;
  z-index: 10; /* Keeps it above scrolling content */
}

.scrollable-list {
  flex-grow: 1;
  overflow-y: auto; /* Adjust this as needed */
  height: 100%;
}

.generation-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
