<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let pokemon of pokemonList">
        <mat-card class="pokemonCard">
            <mat-card-header>{{pokemon.name}}</mat-card-header>
            <button mat-button [routerLink]="['pokemon', pokemon.name]">View Details</button>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<!-- <table mat-table [dataSource]="pokemonList" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>Url</th>
        <td mat-cell *matCellDef="let element">{{element.url}}</td>
      </ng-container>
</table> -->
<!-- <pokemonCard [pokemonName] = "{{pokemon.name}}"></pokemonCard> -->