<div>
    <h1 style="text-align: center;">Instructions for Pages</h1>
    <p>Pokedex Page: allows you to select the region you would like to see in the left column, display the list in the middle column, and get more granular details of the pokemon in the right column. In the pokemon details column you are able to click on each of the various subsections (abilities, moves, stats, and types) to get more insight on the attribute that was selected.</p>
    <p>Battle Page: Initially asks you for a level requirement for stat calculations and move set. A random team of 6 pokemon is then selected for both the person and the opponent.</p>
    <p>Encounter Page: A low level pokemon exploration page, limits the seen pokemon by the location that you are in (i.e. water types in the ocean, also limits to the generation you are in.).</p>
</div>