<div>
    <p *ngFor="let poke of pokemon">{{poke.name}} <button></button></p>
</div>
<div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>test</mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div id="search-form">
    <form>
        <mat-form-field>
            <mat-label>Rider Name</mat-label>
            <input matInput placeholder="Eli Tomac" [value]="pokemonName" name="pokemonName" [(ngModel)]="pokemonName">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="searchForPokemon(pokemonName)">Search</button>
    </form>
</div>
<div id="results">
    <div [hidden]="!pokemon" *ngFor="let r of pokemon">
        <mat-card>
            <p>{{r.height}}</p>
            <p *ngFor="let move of moves">{{move.move.name}}</p>
        </mat-card>
    </div>
</div>