<mat-tab-group>
  <!-- Description Tab -->
  <mat-tab label="Description">
    <div class="tab-content">
      <p>{{ data.pokemon.name }}</p>
      <img [src]="data.pokemon.sprites.front_default" alt="{{ data.pokemon.name }}" />
      <div class="type-container">
        @for (type of this.typeSprites; track type) {
          <img src="{{ type.url }}" />
        }

      </div>
    </div>
  </mat-tab>

  <!-- Cry Tab -->
  <mat-tab label="Cry">
    <div class="tab-content">
      <audio controls>
        <source [src]="data.pokemon.cries.latest" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </div>
  </mat-tab>

  <!-- Size Tab -->
  <mat-tab label="Size">
    <div class="tab-content">
      <p>Height: {{ data.pokemon.height }}m</p>
      <p>Weight: {{ data.pokemon.weight }}kg</p>
    </div>
  </mat-tab>

  <!-- Close Tab -->
  <mat-tab label="Close">
    <div class="tab-content">
      <button mat-button (click)="closeDialog()">Close</button>
    </div>
  </mat-tab>
</mat-tab-group>