/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Ugly override to ge the lists to not overflow on the pokedex page, list was starting off the top of the page. */
.mat-grid-tile-content {
  display: block !important;
}
/* 
app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
} */

/* override to display router content/navbar to the full page. */
body {
  display: contents;
}
